.main {
  max-width: 830px;
  margin: 92px auto;
  display: flex;
  flex-direction: column;
}

.main__tittle {
  max-width: 830px;
  font-family: "Inter-Bold", sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
}

.main__sentence {
  max-width: 738px;
  font-size: 24px;
  line-height: 34px;
  text-align: left;
  font-weight: 400;
  margin-bottom: 10px;
  margin-right: 92px;
  margin-top: 0;
}

.main__author-sentence {
  text-align: right;
  margin-top: 0;
  margin-bottom: 32px;
  max-width: 732px;
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

.main__description {
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  max-width: 722px;
  font-weight: 400;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .main {
    max-width: 290px;
    margin: 16px;
  }

  .main__title {
    max-width: 288px;
    margin-right: 13px;
    font-size: 32px;
    line-height: 35px;
  }

  .main__sentence {
    line-height: 1.1;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .main {
    max-width: 720px;
    margin: 90px 24px 64px;
  }

  .main__title {
    max-width: 710px;
    font-size: 45px;
    line-height: 0.8;
  }
}
